.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.numbers * {
  width: 20%;
  background-color: aliceblue;
  font-size: 48px;
}

.days:after {
  content: 'days';
  display: block;
  width: 12px;
  height: 12px;
}

.hours:after {
  content: 'hours';
  display: block;
  width: 12px;
  height: 12px;
}

.minutes:after {
  content: 'minutes';
  display: block;
  width: 12px;
  height: 12px;
}
.seconds:after {
  content: 'seconds';
  display: block;
  width: 12px;
  height: 12px;
}
